@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Number input spinner styling - Light mode */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
  height: 20px;
  width: 16px;
  cursor: pointer;
  background-color: transparent;
}

/* Light mode - dark gray spinners */
input[type="number"]::-webkit-inner-spin-button {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'%3E%3Cpath fill='%23374151' d='M6 0l6 12H0z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px;
  margin-right: 4px;
}

input[type="number"]::-webkit-outer-spin-button {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'%3E%3Cpath fill='%23374151' d='M6 12L0 0h12z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px;
  margin-left: 4px;
}

/* Dark mode - light gray spinners */
.dark input[type="number"]::-webkit-inner-spin-button {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'%3E%3Cpath fill='%239CA3AF' d='M6 0l6 12H0z'/%3E%3C/svg%3E");
}

.dark input[type="number"]::-webkit-outer-spin-button {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'%3E%3Cpath fill='%239CA3AF' d='M6 12L0 0h12z'/%3E%3C/svg%3E");
}

/* Firefox number input spinner - hide default */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Firefox - show spinners but style them */
input[type="number"]::-moz-number-spin-box {
  opacity: 1;
}

/* Firefox dark mode spinner styling */
.dark input[type="number"]::-moz-number-spin-up-button,
.dark input[type="number"]::-moz-number-spin-down-button {
  filter: brightness(0) invert(0.6);
  opacity: 1;
}

